.venv
__pycache__
_pycache
.vscode

migrations
app/__pycache__
app/maintenance/__pycache__
app/maintenance/logs/error.log
app/blueprints/auth/__pycache__/captcha.cpython-311.pyc
app/blueprints/auth/__pycache__/forms.cpython-311.pyc
app/blueprints/auth/__pycache__/user.cpython-311.pyc
app/blueprints/index/__pycache__/routes.cpython-311.pyc
app/blueprints/login/__pycache__/login.cpython-311.pyc
app/blueprints/login/__pycache__/routes.cpython-311.pyc
app/blueprints/netdiscover/__pycache__/form.cpython-311.pyc
app/blueprints/netdiscover/__pycache__/netdiscover.cpython-311.pyc
app/blueprints/netdiscover/__pycache__/routes.cpython-311.pyc
app/blueprints/nmap/__pycache__/form.cpython-311.pyc
app/blueprints/nmap/__pycache__/my_nmap.cpython-311.pyc
app/blueprints/nmap/__pycache__/routes.cpython-311.pyc
app/blueprints/register/__pycache__/register.cpython-311.pyc
app/blueprints/register/__pycache__/routes.cpython-311.pyc
reports/*
